#set( $updateList = {} )
#foreach( $entry in $ctx.args.updateUser_typeInput.keySet() )
  #set( $discard = $updateList.put($entry, "'$ctx.args.updateUser_typeInput[$entry]'") )
#end
#set( $update = $updateList.toString().replace("{","").replace("}","") )
{
  "version": "2018-05-29",
  "statements":   ["UPDATE User_type SET $update WHERE id=$ctx.args.updateUser_typeInput.id", "SELECT * FROM User_type WHERE id=$ctx.args.updateUser_typeInput.id"]
}